header {
  background-color: tomato;
  margin: 10px;
  padding: 20px;
}

header nav {
}

header nav ul {
  display: flex;
}

header nav ul li {
  list-style: none;
  margin: 10px;
}

main {
  display: flex;
}

section {
  width: 70%;
  background: tomato;
  margin: 10px;
  padding: 10px;
  box-sizing: border-box;
}

section h1 {
}

article {
  background: yellowgreen;
  margin-bottom: 10px;
  padding: 10px;
}

article h2 {
}

article p {
}

aside {
  width: 30%;
  background: tomato;
  margin: 10px;
  padding: 20px;
  box-sizing: border-box;
}

footer {
  background: tomato;
  margin: 10px;
  padding: 20px;
}

footer address {
}

footer address a {
  display: block;
}
